<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <link href="@Url.Content("~/Content/ows.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        @RenderSection("Styles", false)
        @RenderSection("Scripts", false)

        <script type="text/javascript" src="//use.typekit.net/xdm8cbq.js"></script>
        <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

    </head>


    <body class="@ViewBag.Css">
       
        <div class="outer-container">
         <div class="primarycontent">
              @RenderBody()
            </div>
        </div>
    </body>
</html>
