<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/modernizr")
  

        <script type="text/javascript" src="//use.typekit.net/xdm8cbq.js"></script>
        <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

    </head>


    <body class="@ViewBag.Css">

        @{Html.RenderPartial("MainNavigation");}
        @RenderSection("HomepageHero", required: false)
        @RenderSection("HomeDiscover", required: false)
       
        <div class="outer-container">
         <div class="primarycontent">
              @RenderBody()
            </div>
        </div>
    </body>
</html>
