@model Rentmyhouse.Helpers.PagedData<Rentmyhouse.Models.sporteventstable>

<div class="grid">

@{int i = 0;}

@foreach (var item in Model.Data) {

    i++;
       
<figure class="effect-zoe @(i == 3 ? "right" : String.Empty)" style="background-image:url('http://www.londonrentmyhouse.com/houseimages/@item.strimage1');background-size:cover;">
	<a href="@item.id">View more</a>
	<figcaption>
		@item.strbed @item.strtype @item.strcity

        <p>
			<img class="userimage" src="http://www.londonrentmyhouse.com/images/user-anon.png">
			<span>@item.strpostedby</span>
		</p>
	</figcaption>		
</figure> 
    
    if (i == 3) { i = 0; }      
}


@for (int c = 1; c <= Model.NumberOfPages; c++)
        {
            if (i == Model.CurrentPage)
            {
                @c
            }
            else
            {
                <a class="page-number" href="javascript:void(0);">@c</a>
            }
        }

</div>
