<div class="nav" id="normalhometextwhite">
    <!--<div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @*@Html.ActionLink("Londonrentmyhouse.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        -->
        <ul>
            <li>@Html.ActionLink("Home", "index", "home")</li>
            <li>@Html.ActionLink("About", "about", "home")</li>
            <li>@Html.ActionLink("Owners", "owners", "public")</li>
            <li>@Html.ActionLink("Guests", "guests", "public")</li>
            <li>@Html.ActionLink("Map", "googleMap", "api")</li>
            <li>@Html.ActionLink("Departments", "Index", "Department")</li>
            <li>@Html.ActionLink("Students", "Index", "Student")</li>
        </ul>
    </div>
